.mapaPrincipal {
	margin-top: 0.5px;
	margin-bottom: 1.5px;
	padding-top:40px;
	padding-bottom:40px;
	background: linear-gradient(90.17deg, #3B3A82 -0.66%, rgba(38, 14, 88, 0.310041) 99.84%, rgba(11, 4, 26, 0) 99.85%);
}