body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}

.container {
	width: 94%;
	margin: 0 auto;
}

.cabecalhoPrincipal {
	background-color: #FFF;	
	padding: 20px 0;
	border-bottom: #758797 solid 0.5px;
}

.cabecalhoPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.cabecalhoPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #6f717e;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;

	border-bottom: 1px solid #9799A6;
}

.conteudoPrincipal {
	margin-top: 0.5px;
	margin-bottom: 0.5px;
	padding-top:40px;
	padding-bottom:40px;
	background: linear-gradient(90.17deg, #3B3A82 -0.66%, rgba(38, 14, 88, 0.310041) 99.84%, rgba(11, 4, 26, 0) 99.85%);
}

.conteudoPrincipal p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;

	color: #FFFFFF;
	margin: 70px;
}

.conteudoPrincipal-texto2 {
	display: none;
}

.logoEmpresa {

	width: 390px;
	height: 315px;
	left: 953px;
	top: 197px;
	margin: 70px;

	background: url(image.png);
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	filter: drop-shadow(6px 3px 4px #FFFDFD);
	border-radius: 30px;
}

.rodapePrincipal {
	background-color: #324C64;
	padding-top: 15px;
}

.rodapePrincipal .subtitulo {
	color: #FFF;
}

.rodapePrincipal-navMap-div {
	margin: 15px;
}

.navmap-list-title {
	font-weight: 700;
	font-size: 1.3em;
	margin: .9em 0;
	padding-left: .3em;
	padding-top: .2em;
	padding-bottom: .2em;
}

.navmap-list-title  {
	color: #FFFFFF;
}

.navmap-list-paragrafo {
	color: #FFFFFF;
}

.rodapePrincipal-email {
	color: yellow;
}



@media(min-width: 769px) {

	.container {
		width: 85%;	
	}

	.subtitulo {
		text-align: left;
	}

	.cabecalhoPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.cabecalhoPrincipal-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.cabecalhoPrincipal-titulo {
		margin: 0;
	}

	.cabecalhoPrincipal-nav {
		width: auto;
	}

	.cabecalhoPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}

	


}



